<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <form class="form"  action="/chat" method="POST">
    <p class="heading">LOGIN</p>
    <input class="input" type="text" name="username" placeholder="Usuario" required />
    <button class="btn" type="submit">Chat</button>
</form>
</body>
</html